<td class="esd-stripe" align="center">
    <table
            bgcolor="#ffffff"
            class="es-content-body"
            align="center"
            cellpadding="0"
            cellspacing="0"
            width="800"
    >
        <tbody>
        <tr>
            <td class="esd-structure es-p20" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td
                                width="800"
                                class="esd-container-frame"
                                align="center"
                                valign="top"
                        >
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td style="font-size: 12px">
                                        <a target="_blank"
                                        ><img
                                                src="https://eenufwy.stripocdn.email/content/guids/CABINET_83c79fe6710c9b2a88d2db353ad3b6f6/images/99411618298697800.png"
                                                alt
                                                style="
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 50%;
                              "
                                                width="200"
                                        /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h1
                                                style="
                              font-size: 46px;
                              line-height: 100%;
                              text-align: center;
                            "
                                        >
                                            Xác Nhận Đơn Hàng
                                        </h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p style="padding-bottom: 12px;">
                                            Cảm ơn bạn đã đặt hàng . Đơn hàng của bạn {STATUS}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <p>Mã vận đơn: {ID}</p>
                                        <p>Khách hàng: {CUSTOMER}</p>
                                        <p>Địa chỉ: {ADDRESS}</p>
                                        <p>Số điện thoại: {PHONE}</p>
                                        <p>Số lượng: {QUANTITY}</p>
                                        <p>Thanh Toán: {TOTAL_PRICE} VNĐ</p>
                                        <p> Hình Thức: {PAYMENT}</p>
                                        <p>Trạng Thái: {STATUS}</p>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table
                        style="
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
              margin-top: 1rem;
            "
                >
                    <tr style="background-color: #dddddd">
                        <th
                                style="
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                "
                        >
                            Tên sản phẩm
                        </th>
                        <th
                                style="
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                "
                        >
                            Số tiền
                        </th>
                        <th
                                style="
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                "
                        >
                           Loại sản phẩm
                        </th>
                        <th
                                style="
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                "
                        >
                            Số lượng
                        </th>
                    </tr>
                    {DETAILS}
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>
